#set($manifest = $self.manifest)
#set($oid = $self.getFormData("oid"))
#set($title = $self.getFormData('title'))

<style type="text/css">
.wfnav {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}
.wfnav img {
    vertical-align: top;
}
.wfnav a, .wfnav a:hover {
    padding: 0.1em;
}
.wfnav a:hover {
    background: #5E7553;
    color: white;
}

.new {
    color: red;
}

.approved{
    font-weight: bold;
}
</style>

<div class="grid_16">
    <div class="wfnav right">
    Progress: Completed <strong>$self.confirmed</strong> out of <strong>$self.total</strong>
    </div>
</div>

<div class="grid_16">
    <div class="wfnav">
        #set($prevOid = $self.prevOid)
        #if($prevOid)
            <a href="$portalPath/workflow/$prevOid" class="update" rel="$prevOid">
                <img src="$portalPath/images/icons/arrow_left.png"/>
                Previous
            </a>
            <em>($self.prevName)</em>
        #end
        #set($nextOid = $self.nextOid)
        <div class="right">
        #if($nextOid)
                <em>($self.nextName)</em>
                <a href="$portalPath/workflow/$nextOid" class="update" rel="$nextOid">
                    Next
                    <img src="$portalPath/images/icons/arrow_right.png"/>
                </a>
        #end
        </div>
    </div>
    
    <div class="wfnav">
        #set($prevUneditedOid = $self.prevUneditedOid)
        #if($prevUneditedOid)
            <a href="$portalPath/workflow/$prevUneditedOid" class="update" rel="$prevUneditedOid">
                <img src="$portalPath/images/icons/book_previous.png"/>
                Previous unedited
            </a>
            <em>($self.prevUneditedName)</em>
        #end
        #set($nextUneditedOid = $self.nextUneditedOid)
        <div class="right">
        #if($nextUneditedOid)
                <em>($self.nextUneditedName)</em>
                <a href="$portalPath/workflow/$nextUneditedOid" class="update" rel="$nextUneditedOid">
                    Next unedited
                    <img src="$portalPath/images/icons/book_next.png"/>
                </a>
        #end
        </div>
    </div>
</div>

<div class="hidden" id="navigationForm">
    <form action="$portalPath/workflow" id="package-form" method="post">
    <fieldset>
        <p>Title: $self.getFormData("title")</p>
        <input type="hidden" name="targetStep" value="$self.getFormData('nextStep')" />
        <input type="hidden" name="oid" value="$oid" />
        <input type="hidden" name="redirectUrl" id="redirectUrl" value="" />
        <input class="button" id="update-package" type="button" value="Reindex" />
    </fieldset>
    </form>
</div>

#set($modified=$self.isModified())

#set($checked = "")
#set($statusClass = 'approved')
#set($approved = "Approved Authority Record")
#if ($modified == "false")
    #set($checked = "checked=checked")
    #set($statusClass = 'new')
    #set($approved = "New Authority Record")
#end

<div id="action-list" class="grid_4">
    <div class="box">
        <h2>Status</h2>
        #set($menuTitle = "<a href='#'>Status</a>")
        <div class="$statusClass">
            $approved
        </div>
    </div>

    <div id="affiliations">
        #set($menuTitle = "<a href='#'>Affiliations</a>")
        #parse($page.getTemplate('wrapping/info-box-open.vm'))
        #set($menuTitle = $nullValue)
        <div id="table">
            <table class="meta">
                #foreach ($node in $self.getAffiliation())
                <tr>
                    <td><strong>$node.get("author")</strong>
                    <table>
                        <tr><td>Expiry:</td><td>$node.get("expiry")</td></tr>
                        <tr><td>Org. Unit:</td><td>$node.get("orgUnit") ($node.get("orgUnitId"))</td></tr>
                    </table></td>
                </tr>
                #end
            </table>
        </div>
        #parse($page.getTemplate('wrapping/info-box-close.vm'))
    </div>

    <div id="item-props" class="box hidden">
        <h2>Item properties</h2>
        <div id="item-form">
            <fieldset>
            <p>
                <label for="item-title">Title</label>
                <input type="text" id="item-title" name="title" />
            </p>
            <p>
                <label class="checkbox" for="item-hidden">Hidden</label>
                <input class="checkbox" type="checkbox" id="item-hidden" name="hidden" />
            </p>
            <input class="button" id="update-item" type="button" value="Update" />
            <input class="button" id="delete-item" type="button" value="Remove" />
            <img class="hidden" id="item-loading" src="$portalPath/images/icons/loading.gif" />
            </fieldset>
        </div>
    </div>
</div>

#set($suggestedNames = $self.getSuggestedNames())

<div class="grid_12">
    ##<pre>$self.metadata.toString()</pre>
    <div class="box">
        <h2>Display names</h2>
        ##renderObject($self.getMetadata() "preview")
        <br />
        #set($manifest = $self.getManifest())
        #if ($manifest.size() > 0)
            <p>Names used by this person.</p>
        #else
            <p>No name used by this person</p>
        #end
        <div id="displayNames">
            #foreach($node in $manifest)
                #set($authorName = $node.get("title"))
                #set($hash = $self.getHash($authorName))
                <p>
                
                <input type="checkbox" class="multiple" name="unlink" value="$hash" id="unlink-author-${hash}" $checked/>
                <label for="author-$hash">$authorName</label>&nbsp;<a class="display-records" href="#" rel="$hash">(hide)</a>
                </p>
                #set($docs = $node.getJsonMap("children"))
                <ul id="${hash}-records">
                #foreach($key in $docs.keySet())
                    #set($doc = $docs.get($key))
                    #set($citeId = $doc.get("id"))
                    #set($itemTitle = $doc.get("title"))
                    #set($faculty="")
                    #if($doc.getList("faculty") != [] && $doc.getList("faculty").get(0) != "")
                        #set($faculty = ", " + $doc.getList("faculty").get(0))
                    #end
                    #if($doc.getList("school") != [] && $doc.getList("school").get(0) != "")
                        #set($faculty = $faculty + ", <strong>" + $doc.getList("school").get(0) + "</strong>")
                    #end
                    <li rel="$citeId">
                    <input type="checkbox" name="citation" value="$citeId" id="unlink-author-${hash}-cite-${citeId}" $checked/>
                    <label for="unlink-author-${hash}-cite-${citeId}">$!itemTitle$faculty</label>
                    </li>
                #end
                </ul>
    
            #end
            <button id="unlink-names">Save</button>
            <div class="hidden" id="delete-package-item"></div>
        </div>
    </div>
    <div class="box">
        <h2>Suggested names</h2>
        <br />
        #if($suggestedNames.isEmpty())
            <p>No names were found that may match this person</p>
        #else
            <p>Below are some names that may match this person</p>
            <div id="suggestedNames">
                #foreach($authorName in $suggestedNames.keySet())
                    
                    #### if author checkbox is checked, all the citations will be checked
                    #set($hash = $self.getHash($authorName))
                    #set($docs = $suggestedNames.get($authorName))
                    #set($rank = $self.getRank($docs.get(0).get("score")))
                    <div class="suggestion" rel="$rank">
                    <p>
                    <input type="checkbox" class="multiple" name="suggestions" value="$hash" id="author-${hash}"/>
                    <label for="author-$hash">$authorName</label>&nbsp;(Rank: $rank%) <a class="display-records" href="#" rel="$hash">(hide)</a>
                    </p>
                    <ul id="${hash}-records">
                    #foreach($doc in $docs)
                        #set($authorId = $doc.get("id"))
                        #set($itemTitle = $doc.getList("dc_description").get(0))
                        #set($storageId = $doc.get("storage_id"))
                        #set($citationHash = $self.getHash($storageId))
                        #set($faculty="")
                        #if($doc.getList("faculty") != [] && $doc.getList("faculty").get(0) != "")
                            #set($faculty = ", " + $doc.getList("faculty").get(0))
                        #end
                        #if($doc.getList("school") != [] && $doc.getList("school").get(0) != "")
                            #set($faculty = $faculty + ", <strong>" + $doc.getList("school").get(0) + "</strong>")
                        #end
                        
                        #if(!$self.isLinked($citationHash))
                            <li rel="$authorId">
                                <input type="checkbox" name="citation" value="$citationHash" id="author-${hash}-cite-${citationHash}"/>
                                <label for="author-${hash}-cite-${citationHash}">$!itemTitle$faculty</label>
                            </li>
                        #end
                    #end
                    </ul>
                    </div>
                    #end
                 <div>
                    <p>Some names were found that could match but are less likely to. <a id="display-lesser" href="#">(show)</a></p>
                    <div class="hidden" id="lesserMatches"></div>
                 </div>
                 
                <button id="link-names">Save</button>
            </div>
        #end
    </div>
    
    <div class="box">
        <h2>Search names</h2>
        <br />
        <div id="search">
            <form>
                <fieldset class="login">
                    <legend>Find name</legend>
                    <input id="name-search-query" name="name-search-query" size="50" type="text" />
                    <button class="button" id="search-names">Go</button>
                </fieldset>
            </form>
            <div id="searchResult"></div>
            <button id="link-search-names" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $("#affiliations h2 a").click(function() {
        $("#affiliations #table").toggle("blind").toggleClass('visible').toggleClass('hidden');
        $("#affiliations h2 a").toggleClass('visible');
        return false;
    });
    
    $(".update").click(function() {
        var button = $(this);
        jQuery.post("$portalPath/actions/manifest.ajax",
            {
                func: "update-package-meta",
                oid: "$oid",
                metaList: ["title", "description"],
                title: $("#package-title").val(),
                description: $("#package-description").val()
            },
            function(data, status) {
                var rel = button.attr("rel");
                $("#redirectUrl").attr("value", "$portalPath/workflow/" + rel);
                $("#package-form").submit();
            });
        return false;
    });
    
    $("#update-package").click(function() {
        jQuery.post("$portalPath/actions/manifest.ajax",
            {
                func: "update-package-meta",
                oid: "$oid",
                metaList: ["title", "description"],
                title: $("#package-title").val(),
                description: $("#package-description").val()
            },
            function(data, status) {
                $("#package-form").submit();
            });
        return false;
    });
    
    $("#link-names, #link-search-names").click(function() {
        var ids = [];
        $("#suggestedNames :checked, #search :checked").each(function() {
            var id = $(this).parent().attr("rel");
            ids.push(id);
        });
        jQuery.post("$portalPath/workflows/nameAuthority.ajax",
            { func: "link-names", oid: "$oid", ids: ids },
            function(data, status, xhr) {
                if (data.status == "ok") {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            },
            "json");
    });
    
    $("#unlink-names").click(function() {
        var ids = [];
        $("#displayNames :checked").each(function() {
            var id = $(this).parent().attr("rel");
            ids.push(id);
        });
        jQuery.post("$portalPath/workflows/nameAuthority.ajax",
            { func: "unlink-names", oid: "$oid", ids: ids },
            function(data, status, xhr) {
                if (data.status == "ok") {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            },
            "json");
    });
    
        
    $("#search-names").click(function() {
        jQuery.ajax({
            url: "$portalPath/workflows/nameAuthority.ajax",
            data: {
                func: "search-names",
                query: $("#name-search-query").val(),
                oid: "$oid"
            },
            success: function(data, status) {
                var html = "<ul>"
                jQuery.each(data, function(index, item) {
                    var authorName = item.dc_title[0];
                    var hash = "$self.getHash(" + authorName + ")"; 
                    var authorId = item.id;
                    var citationHash = "$self.getHash(" + item.storage_id + ")";
                    var itemTitle = item.dc_description[0];
                    var faculty = item.faculty[0]
                    html += 
                        "<li rel="+authorId+">" + 
                            "<input type='checkbox' name='citation' value='"+citationHash+"' id='author-"+hash+"-cite-"+citationHash+"'/>" +
                            "<lable for='author-"+hash+"-cite-"+citationHash+"'><strong>"+authorName+"</strong>,"+itemTitle+faculty+"</label>" +
                        "</li>";
                });
                
                html += "</ul>"
                $("#searchResult").html(html);
                
                watchButton("search", "link-search-names");
                
            },
            error: function(xhr, status, errorThrown) {
                $("#searchResult").html("No Author found");
                $("#link-search-names").attr("disabled", "disabled");
            },
            dataType: "json"
            });
        return false;
    });
    
    
    $("a.display-records").click(function() {
        var me = $(this);
        var hash = me.attr("rel");
        var records = $("#" + hash + "-records");
        records.toggle("blind", function() {
            me.text(records.is(":visible") ? "(hide)" : "(show)");
        });
        return false;
    });
    
    function watchButton(rootId, buttonId) {
        $("#" + rootId + " :checkbox").click(function() {
            if ($("#" + rootId + " :checked").length == 0) {
                $("#" + buttonId).attr("disabled", "disabled");
            } else {
                $("#" + buttonId).removeAttr("disabled");
            }
        });
    }
    
    watchButton("displayNames", "unlink-names");
    watchButton("suggestedNames", "link-names");
    
    function checkButton(rootId, buttonId) {
        if ($("#" + rootId + " :checkbox").length == 0) {
            $("#" + buttonId).hide();
        }
        if ($("#" + rootId + " :checked").length == 0) {
            $("#" + buttonId).attr("disabled", "disabled");
        }
    }
    
    checkButton("displayNames", "unlink-names");
    checkButton("suggestedNames", "link-names");
    
    // filter suggestions by rank
    $(".suggestion").each(function(index, item) {
        var rank = $(item).attr("rel");
        if (rank < 25) {
            $(item).appendTo($("#lesserMatches"));
        }
    });
    
    $("#display-lesser").click(function() {
        var me = $(this);
        var lesser = $("#lesserMatches");
        lesser.toggle("blind", function() {
            me.text(lesser.is(":visible") ? "(hide)" : "(show)");
        });
        return false;
    });
    
    $(".multiple").click(function() {
        var id = $(this).attr("id");
        
        var citeId = id + "-cite";
        $('input[id^='+citeId+']').attr('checked', $('#'+id+'').is(':checked'));
    });
    
});
</script>

<script id="linked-name-template" type="text/html">
    <p>
        <input type="checkbox" name="linked" />
        <label for="linked-$nodeId"> ##
            <a href="$portalPath/detail/$node.get('id')">$nodeTitle</a>
        </label>
    </p>
</script>
<script id="suggested-name-template" type="text/html">
    <p>
        <input type="checkbox" name="linked" />
        <label for="linked-$nodeId"> ##
            <a href="$portalPath/detail/$node.get('id')">$nodeTitle</a>
        </label>
    </p>
</script>

