#set($manifest = $self.manifest)
#set($oid = $self.getFormData("oid"))
#set($title = $self.getFormData('title'))

<style type="text/css">
.wfnav {
    font-size: 1.25em;
    margin-bottom: 0.5em;
}
.wfnav img {
    vertical-align: top;
}
.wfnav a, .wfnav a:hover {
    padding: 0.1em;
}
.wfnav a:hover {
    background: #5E7553;
    color: white;
}
.wfnav em {
    font-size: 0.8em;
}
.citation {
    list-style-type: none;
}
.new, .approved {
    font-weight: bold;
    padding-left: 2em;
    padding-bottom: 1em;
    background-position: 0 9px;
    background-repeat: no-repeat;
}
.new {
    background-image: url($portalPath/images/icons/asterisk_orange.png);
}
.approved {
    background-image: url($portalPath/images/icons/tick.png);
}
</style>

<div class="grid_16">
    <div class="wfnav">
        #set($prevOid = $self.prevOid)
        #if($prevOid)
            <a href="$portalPath/workflow/$prevOid" class="update" rel="$prevOid">
                <img src="$portalPath/images/icons/arrow_left.png"/>
                Previous
            </a>
            <em>($self.prevName)</em>
        #else
            <span>&nbsp;</span>
        #end
        <div class="right">
            #set($nextOid = $self.nextOid)
            #if($nextOid)
                <em>($self.nextName)</em>
                <a href="$portalPath/workflow/$nextOid" class="update" rel="$nextOid">
                    Next
                    <img src="$portalPath/images/icons/arrow_right.png"/>
                </a>
            #else
                <span>&nbsp;</span>
            #end
        </div>
    </div>
    
    <div class="wfnav">
        #set($prevUneditedOid = $self.prevUneditedOid)
        #if($prevUneditedOid && $prevOid != $prevUneditedOid)
            <a href="$portalPath/workflow/$prevUneditedOid" class="update" rel="$prevUneditedOid">
                <img src="$portalPath/images/icons/book_previous.png"/>
                Previous unedited
            </a>
            <em>($self.prevUneditedName)</em>
        #else
            <span>&nbsp;</span>
        #end
        <div class="right">
            #set($nextUneditedOid = $self.nextUneditedOid)
            #if($nextUneditedOid && $nextOid != $nextUneditedOid)
                <em>($self.nextUneditedName)</em>
                <a href="$portalPath/workflow/$nextUneditedOid" class="update" rel="$nextUneditedOid">
                    Next unedited
                    <img src="$portalPath/images/icons/book_next.png"/>
                </a>
            #else
                <span>&nbsp;</span>
            #end
        </div>
    </div>
</div>

<div class="hidden" id="navigationForm">
    <form action="$portalPath/workflow" id="package-form" method="post">
    <fieldset>
        <p>Title: $self.getFormData("title")</p>
        <input type="hidden" name="targetStep" value="$self.getFormData('nextStep')" />
        <input type="hidden" name="oid" value="$oid" />
        <input type="hidden" name="redirectUrl" id="redirectUrl" value="" />
        <input class="button" id="update-package" type="button" value="Reindex" />
    </fieldset>
    </form>
</div>

#set($checked = "")

#if($self.isModified() == "false")
    #set($statusClass = "new")
    #set($statusMessage = "New Record")
#else
    #set($statusClass = "approved")
    #set($statusMessage = "Approved")
#end

<div id="action-list" class="grid_4">
    <div class="box">
        <h2>Status</h2>
        <div class="block $statusClass">$statusMessage</div>
        <div><p>Completed <strong>$self.confirmed</strong> out of <strong>$self.total</strong> records</p></div>
    </div>

    <div id="affiliations">
        #set($menuTitle = '<a href="#">Affiliations</a>')
        #parseTemplate("wrapping/info-box-open.vm")
        <div id="table">
            #set($affiliations = $self.affiliations)
            #foreach($orgUnit in $affiliations.keys())
                <table class="meta">
                    #set($expiryDates = $affiliations.get($orgUnit))
                    <tr>
                        <th>$orgUnit</th>
                    </tr>
                    #foreach($expiry in $expiryDates.keys())
                        <tr><td>Names valid to <strong>$expiry</strong></td></tr>
                        <tr>
                            <td>
                                <ul style="margin-bottom:0">
                                    #set($authorNames = $expiryDates.get($expiry))
                                    #foreach($authorName in $authorNames)
                                        <li>$authorName</li>
                                    #end
                                </ul>
                            </td>
                        </tr>
                    #end
                </table>
            #end
        </div>
        #parseTemplate("wrapping/info-box-close.vm")
    </div>

    <div id="affiliations-old">
        #set($menuTitle = "<a href='#'>Affiliations</a>")
        #parse($page.getTemplate('wrapping/info-box-open.vm'))
        #set($menuTitle = $nullValue)
        <div id="table-old">
            <table class="meta">
                #foreach ($node in $self.getAffiliation())
                <tr>
                    <td><strong>$node.get("author")</strong>
                    <table>
                        <tr><td>Expiry:</td><td>$node.get("expiry")</td></tr>
                        <tr><td>Org. Unit:</td><td>$node.get("orgUnit") ($node.get("orgUnitId"))</td></tr>
                    </table></td>
                </tr>
                #end
            </table>
        </div>
        #parse($page.getTemplate('wrapping/info-box-close.vm'))
    </div>

    <div id="item-props" class="box hidden">
        <h2>Item properties</h2>
        <div id="item-form">
            <fieldset>
            <p>
                <label for="item-title">Title</label>
                <input type="text" id="item-title" name="title" />
            </p>
            <p>
                <label class="checkbox" for="item-hidden">Hidden</label>
                <input class="checkbox" type="checkbox" id="item-hidden" name="hidden" />
            </p>
            <input class="button" id="update-item" type="button" value="Update" />
            <input class="button" id="delete-item" type="button" value="Remove" />
            <img class="hidden" id="item-loading" src="$portalPath/images/icons/loading.gif" />
            </fieldset>
        </div>
    </div>
</div>

#set($suggestedNames = $self.getSuggestedNames())

<div class="grid_12">
    ##<pre>$self.metadata.toString()</pre>
    <div class="box">
        <h2>Names</h2>
        ##renderObject($self.getMetadata() "preview")
        <br />
        #set($manifest = $self.getManifest())
        #if ($manifest.size() > 0)
            <p>
                Names currently used by this person.
                Records that have been automatically matched are noted.
            </p>
        #else
            <p>No are currently names used by this person.</p>
        #end
        <div id="displayNames">
            #foreach($node in $manifest)
                #set($authorName = $node.get("title"))
                #set($hash = $self.getHash($authorName))
                #set($automatch = $node.get("automatch"))
                <p>
                    <input type="checkbox" class="multiple" name="unlink" value="$hash" id="unlink-author-${hash}" $checked/>
                    #if($automatch=="true")
                        <img src="$portalPath/images/icons/star.png" style="vertical-align: top;"/>
                    #end
                    <label for="author-$hash">$authorName</label>
                    <a class="display-records" href="#" rel="$hash">(hide)</a>
                </p>
                #set($docs = $node.getJsonMap("children"))
                <ul id="${hash}-records">
                #foreach($key in $docs.keySet())
                    #set($doc = $docs.get($key))
                    #set($citeId = $doc.get("id"))
                    #set($itemTitle = $doc.get("title"))
                    #set($faculty = $doc.get("faculty"))
                    #if($faculty)
                        #set($affiliation = $faculty)
                    #end
                    #set($school = $doc.get("school"))
                    #if($school)
                        #set($affiliation = "$affiliation, $school")
                    #end
                    <li class="citation" rel="$citeId">
                        <input type="checkbox" name="citation" value="$citeId" id="unlink-author-${hash}-cite-${citeId}" $checked/>
                        <label for="unlink-author-${hash}-cite-${citeId}">
                            $!itemTitle
                            #if("$!affiliation" != "")<em>($affiliation)</em>#end
                        </label>
                    </li>
                #end
                </ul>
            #end
            <button id="unlink-names">Save</button>
            <div class="hidden" id="delete-package-item"></div>
        </div>
    </div>
    <div class="box">
        <h2>Suggestions</h2>
        <br />
        #if($suggestedNames.isEmpty())
            <p>No names were found that may match this person</p>
        #else
            <p>Below are some names that may match this person</p>
            <div id="suggestedNames">
                #foreach($authorName in $suggestedNames.keySet())
                    
                    #### if author checkbox is checked, all the citations will be checked
                    #set($hash = $self.getHash($authorName))
                    #set($docs = $suggestedNames.get($authorName))
                    #set($rank = $self.getRank($docs.get(0).get("score")))
                    <div class="suggestion" rel="$rank">
                    <p>
                    <input type="checkbox" class="multiple" name="suggestions" value="$hash" id="author-${hash}"/>
                    <label for="author-$hash">$authorName</label>&nbsp;(Rank: $rank%) <a class="display-records" href="#" rel="$hash">(hide)</a>
                    </p>
                    <ul id="${hash}-records">
                    #foreach($doc in $docs)
                        #set($authorId = $doc.get("id"))
                        #set($itemTitle = $doc.getList("dc_description").get(0))
                        #set($storageId = $doc.get("storage_id"))
                        #set($citationHash = $self.getHash($storageId))
                        #set($faculty = $doc.getList("faculty"))
                        #set($affiliation = "")
                        #if($faculty != [])
                            #set($affiliation = $faculty.get(0))
                        #end
                        #set($school = $doc.getList("school"))
                        #if($school != [] && !$school.isEmpty())
                            #set($affiliation = "$affiliation, $school.get(0)")
                        #end
                        #set($affiliation = $self.getCitationAffiliation($doc))
                        #if(!$self.isLinked($citationHash))
                            <li class="citation" rel="$authorId">
                                <input type="checkbox" name="citation" value="$citationHash" id="author-${hash}-cite-${citationHash}"/>
                                <label for="author-${hash}-cite-${citationHash}">
                                    $!itemTitle
                                    #if($affiliation)<em>($affiliation)</em>#end
                                </label>
                            </li>
                        #end
                    #end
                    </ul>
                    </div>
                    #end
                 <div>
                    <p>Some names were found that could match but are less likely to. <a id="display-lesser" href="#">(show)</a></p>
                    <div class="hidden" id="lesserMatches"></div>
                 </div>
                 
                <button id="link-names">Save</button>
            </div>
        #end
    </div>
    
    <div class="box">
        <h2>Find</h2>
        <br />
        <div id="search">
            <form>
                <fieldset class="login">
                    <input id="name-search-query" name="name-search-query" size="50" type="text" />
                    <button class="button" id="search-names">Go</button>
                </fieldset>
            </form>
            <div id="searchResult"></div>
            <button id="link-search-names" disabled="disabled">Save</button>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function() {
    $("#affiliations h2 a").click(function() {
        $("#affiliations #table").toggle("blind").toggleClass('visible').toggleClass('hidden');
        $("#affiliations h2 a").toggleClass('visible');
        return false;
    });
    
    $(".update").click(function() {
        var button = $(this);
        jQuery.post("$portalPath/actions/manifest.ajax",
            {
                func: "update-package-meta",
                oid: "$oid",
                metaList: ["title", "description"],
                title: $("#package-title").val(),
                description: $("#package-description").val()
            },
            function(data, status) {
                var rel = button.attr("rel");
                $("#redirectUrl").attr("value", "$portalPath/workflow/" + rel);
                $("#package-form").submit();
            });
        return false;
    });
    
    $("#update-package").click(function() {
        jQuery.post("$portalPath/actions/manifest.ajax",
            {
                func: "update-package-meta",
                oid: "$oid",
                metaList: ["title", "description"],
                title: $("#package-title").val(),
                description: $("#package-description").val()
            },
            function(data, status) {
                $("#package-form").submit();
            });
        return false;
    });
    
    $("#link-names, #link-search-names").click(function() {
        var ids = [];
        $("#suggestedNames :checked, #search :checked").each(function() {
            var id = $(this).parent().attr("rel");
            ids.push(id);
        });
        jQuery.post("$portalPath/workflows/nameAuthority.ajax",
            { func: "link-names", oid: "$oid", ids: ids },
            function(data, status, xhr) {
                if (data.status == "ok") {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            },
            "json");
    });
    
    $("#unlink-names").click(function() {
        var ids = [];
        $("#displayNames :checked").each(function() {
            var id = $(this).parent().attr("rel");
            ids.push(id);
        });
        jQuery.post("$portalPath/workflows/nameAuthority.ajax",
            { func: "unlink-names", oid: "$oid", ids: ids },
            function(data, status, xhr) {
                if (data.status == "ok") {
                    window.location.reload();
                } else {
                    alert(data.message);
                }
            },
            "json");
    });
    
        
    $("#search-names").click(function() {
        jQuery.ajax({
            url: "$portalPath/workflows/nameAuthority.ajax",
            data: {
                func: "search-names",
                query: $("#name-search-query").val(),
                oid: "$oid"
            },
            success: function(data, status) {
                var html = "<div class='results'>";
                jQuery.each(data, function(authorName, map) {
                    var count = 0;
                    jQuery.each(map, function(key, item) {
                        var hash = item.authorHash;
                        if (count == 0) {
                            html += "<p>" +
                                    "<input type='checkbox' class='multiple' name='results' value='"+hash+"' id='author-"+hash+"'/>" + 
                                    "<label for='author-"+hash+"'>"+authorName+"</label> <a class='display-records' href='#' rel="+hash+">(hide)</a>"+
                                "</p>" +
                                "<ul id='"+hash+"-records'>";
                        }
                        var authorId = item.id;
                        var citationHash = item.storageHash;
                        var itemTitle = item.dc_description[0];
                        var affiliation = item.affiliation || "";
                        if (affiliation != "") { affiliation = " <em>(" + affiliation + ")</em>"; }
                        html += 
                        "<li class='citation' rel="+authorId+">" + 
                            "<input type='checkbox' name='citation' value='"+citationHash+"' id='author-"+hash+"-cite-"+citationHash+"'/>" +
                            "<lable for='author-"+hash+"-cite-"+citationHash+"'>"+itemTitle+affiliation+"</label>" +
                        "</li>";
                        count++;
                    });
                    html += "</ul>";
                    $("#searchResult").html(html);
                
                    watchButton("search", "link-search-names");
                });
            },
            error: function(xhr, status, errorThrown) {
                $("#searchResult").html("<p>No authors found!</p>");
                $("#link-search-names").attr("disabled", "disabled");
            },
            dataType: "json"
            });
        return false;
    });
    
    
    $("a.display-records").live("click", function() {
        var me = $(this);
        var hash = me.attr("rel");
        var records = $("#" + hash + "-records");
        records.toggle("blind", function() {
            me.text(records.is(":visible") ? "(hide)" : "(show)");
        });
        return false;
    });
    
    function watchButton(rootId, buttonId) {
        $("#" + rootId + " :checkbox").click(function() {
            if ($("#" + rootId + " :checked").length == 0) {
                $("#" + buttonId).attr("disabled", "disabled");
            } else {
                $("#" + buttonId).removeAttr("disabled");
            }
        });
    }
    
    watchButton("displayNames", "unlink-names");
    watchButton("suggestedNames", "link-names");
    
    function checkButton(rootId, buttonId) {
        if ($("#" + rootId + " :checkbox").length == 0) {
            $("#" + buttonId).hide();
        }
        if ($("#" + rootId + " :checked").length == 0) {
            $("#" + buttonId).attr("disabled", "disabled");
        }
    }
    
    checkButton("displayNames", "unlink-names");
    checkButton("suggestedNames", "link-names");
    
    // filter suggestions by rank
    $(".suggestion").each(function(index, item) {
        var rank = $(item).attr("rel");
        if (rank < 25) {
            $(item).appendTo($("#lesserMatches"));
        }
    });
    
    $("#display-lesser").click(function() {
        var me = $(this);
        var lesser = $("#lesserMatches");
        lesser.toggle("blind", function() {
            me.text(lesser.is(":visible") ? "(hide)" : "(show)");
        });
        return false;
    });
    
    $(".multiple").live("click", function() {
        var id = $(this).attr("id");
        
        var citeId = id + "-cite";
        $('input[id^='+citeId+']').attr('checked', $('#'+id+'').is(':checked'));
    }); 
    
    $(".wfnav").each(function(i, elem) {
        if ($(elem).find("span").length == 2) {
            $(elem).hide();
        }
    });
});
</script>

<script id="linked-name-template" type="text/html">
    <p>
        <input type="checkbox" name="linked" />
        <label for="linked-$nodeId"> ##
            <a href="$portalPath/detail/$node.get('id')">$nodeTitle</a>
        </label>
    </p>
</script>
<script id="suggested-name-template" type="text/html">
    <p>
        <input type="checkbox" name="linked" />
        <label for="linked-$nodeId"> ##
            <a href="$portalPath/detail/$node.get('id')">$nodeTitle</a>
        </label>
    </p>
</script>

