<div id="anno-root" class="content-preview">
    <div rel="${oid}-tags">
        <div class="object-tag-list">Tags: <span class="object-tags"></span></div>
        ##<div class="location-tag-list">Location: <span class="location-tags"></span></div>
    </div>
  #### Persistent Identifiers
  #set ($allCurated = true)
  #set ($pidProperty = $systemConfig.getString("error", "curation", "pidProperty"))
  #set ($pId = $parent.getProperty($pidProperty))
  #if ($pId != $nullValue)
    <div class="pId">This object has a Persistent ID:  <a href="$pId">$pId</a></div>
  #end

  #### CURATION DATA
  #if($page.authentication.is_admin())
    #set($curationData = $self.getCurationData($oid))
    #if ($curationData.get("error"))
        <div class="pId">
            <dl>
                <dt><b>Curation Data</b></dt>
                <dd class="stop-error">Error accessing curation data. Please see system logs.</dd>
            </dl>
        </div>

    #else
        #set ($relations = $curationData.get("relationships"))
        #if (!$relations.isEmpty())
            <div class="pId">
                <dl>
                    <dt><b>Curation Data</b> - Related Objects</dt>
                    #foreach ($relation in $relations)
                        #set($field = $relation.get("field"))
                        #set($relationship = $relation.get("relationship"))
                        #set($isCurated = $relation.get("isCurated"))
                        <dd>
                            #if ($isCurated)
                                #set($curatedPid = $relation.get("curatedPid"))
                                <span class="ticked">$relationship =&gt; <a href="$curatedPid">$curatedPid</a></span> (curated)
                            #else
                                #set ($allCurated = false)
                                #set($identifier = $relation.get("identifier"))
                                <span class="waiting">$relationship =&gt; $identifier</span> (waiting on curation)
                            #end
                        </dd>
                    #end
                </dl>
            </div>
        #end
    #end
  #end

  #### MANUAL CURATION
  #if ($handle == $nullValue || $allCurated == false)
    #if($page.authentication.is_admin())
    <div class="handle">
        <a id="curate-now" href="#">CURATE NOW</a>
        <span id="curate-sent" class="hidden"></span>
    </div>
    <script type="text/javascript">
    <!--
        $(function() {
            $("#curate-now").click(function() {
                $("#curate-now").hide();
                $("#curate-sent").show();
                jQuery.ajax({
                    type : "POST",
                    url : "$portalPath/actions/curate.ajax",
                    success:
                        function(data, status) {
                            $("#curate-sent").html(data);
                        },
                    error:
                        function (data, status, e) {
                            $("#curate-sent").html(data.responseText);
                        },
                    data: {
                        oid: "${oid}"
                    }
                });
                return false;
            });
        });
    -->
    </script>
    #end
  #end