<oai_dc:dc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd" 
    xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" 
    xmlns:dc="http://purl.org/dc/elements/1.1/">

    <dc:identifier>$util.encodeXml($util.get($item, "metadata", "dc.identifier"))</dc:identifier>
#set ($name = "$util.encodeXml($util.get($item, 'data', 'Honorific')) $util.encodeXml($util.get($item, 'data', 'Given Name')) $util.encodeXml($util.get($item, 'data', 'Family Name'))")
    <dc:title>$name</dc:title>
    <dc:description>'Parties' entry for '$name'</dc:description>

</oai_dc:dc>