#macro(showElement $tag $field $attr)
    #set($valueList = $item.get($field))
    #foreach($value in $valueList)
        <$tag $attr>$self.encodeXml($value)</$tag>
    #end
#end

<registryObjects xmlns="http://ands.org.au/standards/rif-cs/registryObjects" 
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
                 xsi:schemaLocation="http://ands.org.au/standards/rif-cs/registryObjects http://services.ands.org.au/home/orca/schemata/registryObjects.xsd"> 
    <registryObject group="newcastle.edu.au"> 
        <key>$item.get("id")</key> 
        <originatingSource type="authoritative">http://novadev.newcastle.edu.au/mint/people</originatingSource> 
        <party type="person" dateModified="2009-03-16T23:47:00Z"> 
          <identifier type="AU-ANL:PEAU">http://nla.gov.au/nla.party-XXXXXX</identifier>
          <identifier type="uri">$item.get("id")</identifier>
          <name type="primary"> 
            #showElement("namePart", "surname", 'type="family"')
            #showElement("namePart", "firstName", 'type="given"')
            #showElement("namePart", "nameTitle", 'type="title"')
          </name>
          <location> 
            <address> 
              <electronic type="url"> 
                <value>$self.getUrlBase()$item.get("id")</value> 
              </electronic> 
            </address> 
          </location> 
        </party> 
    </registryObject> 
</registryObjects>