#set($noLayout = true)
#set($results = $self.getResults())
{
    "OpenSearchResponse": {
        "title": "People Search",
        "link": "$self.getLink()",
        "totalResults": "$self.getTotalResults()",
        "startIndex" : "$self.getStartIndex()",
        "itemsPerPage": "$self.getItemsPerPage()",
        "query": {
            "role": "$self.getRole()",
            "searchTerms": "$self.getSearchTerms()",
            "startPage": "$self.getStartPage()"
        }
    },
    "namespaces": {
        "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
        "foaf": "http://xmlns.com/foaf/0.1/",
        "owl": "http://www.w3.org/2002/07/owl#",
        "vivo": "http://vivoweb.org/ontology/core#"
    },
    "results": [
        #foreach($result in $results)
            {
                "result-metadata": {
                    "relevance": $result.get("score")
                },
                "rdf:about": "$self.getBaseUrl()/master/detail/$result.get('id')",
                "rdfs:type": ["foaf:Person", "foaf:agent", "owl:Thing"],
                "rdfs:label": "$result.getList('dc_title').get(0)",
                "foaf:firstName": "$result.getList('firstName').get(0)",
                "foaf:lastName": "$result.getList('surname').get(0)",
                "vivo:workEmail": "$result.getList('email').get(0)",
            }
            #if($velocityCount < $results.size()),#end
        #end
    ]
}

