<registryObjects xmlns="http://ands.org.au/standards/rif-cs/registryObjects" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://ands.org.au/standards/rif-cs/registryObjects http://services.ands.org.au/home/orca/schemata/1.2.0/registryObjects.xsd">
    #set($defaultOnError = "&Invalid XML placeholder... prevents ANDS Harvesting records in error&")
    <registryObject group="$systemConfig.getString($defaultOnError, "redbox.identity", "RIF-CS Group")">
        ## Handle is first preference
        #set ($id = $util.getMetadata($object, "handle"))
        #if ("$!id" == "")
            #set ($id = $util.get($item, "metadata", "dc.identifier"))
        #end
        <key>$util.encodeXml($id)</key>
        <originatingSource>$urlBase</originatingSource>
        <party type="group">
            <identifier type="uri">$util.encodeXml($id)</identifier>

            ### Name
            <name type="primary">
                <namePart type="title">$util.encodeXml($util.get($item, "data", "Name"))</namePart>
            </name>

            <location>
            ### Home Page
            #set ($value = $util.get($item, "data", "Homepage"))
            #if ("$!value" != "")
                <address>
                    <electronic type="url">
                        <value>$util.encodeXml($value)</value>
                    </electronic>
                </address>
            #end

            ### Email address
            #set ($value = $util.get($item, "data", "Email"))
            #if ("$!value" != "")
                <address>
                    <electronic type="email">
                        <value>$util.encodeXml($value)</value>
                    </electronic>
                </address>
            #end

            ### Phone Number
            #set ($value = $util.get($item, "data", "Phone"))
            #if ("$!value" != "")
                    <address>
                        <physical>
                            <addressPart type="telephoneNumber">$util.encodeXml($value)</addressPart>
                        </physical>
                    </address>
            #end
            </location>

            ### Description
            #set ($value = $util.get($item, "data", "Description"))
            #if ("$!value" != "")
            <description type="full">$util.encodeXml($value)</description>
            #else
            <description type="full">$util.encodeXml($util.get($item, "data", "Name"))</description>
            #end

            ### Relations
            #set($valueList = $item.getJsonSimpleList("relationships"))
            #if($valueList)
                #foreach($value in $valueList)
                    #if ($value.getBoolean(false, "isCurated"))
                        #set($key = $value.getString("empty", "curatedPid"))
                        #set($rel = $value.getString("hasAssociationWith", "relationship"))
                        #if ($key != "empty")
            <relatedObject>
                <key>$util.encodeXml($key)</key>
                <relation type="$util.encodeXml($rel)"/>
            </relatedObject>
                        #end
                    #end
                #end
            #end

        </party>
    </registryObject>
</registryObjects>