#set($manifest = $self.manifest)
#set($oid = $self.getFormData("oid"))
#set($title = $self.getFormData('title'))
<div class="grid_4">
    <div class="box menu">
        <h2>Actions</h2>
        <ul class="menu" id="actions">
            <li><a href="$portalPath/detail/$oid">View details...</a></li>
            <li><a href="#" id="package-modify">Add display name...</a></li>
        </ul>
    </div>
    <div class="box">
        <h2>Metadata</h2>
        <form action="$portalPath/workflow" id="package-form" method="post">
        <fieldset>
            <p>
                <label for="title">Name</label>
                <input type="text" id="package-title" name="title" value="$!self.getPackageTitle()" />
            </p>
            <p>
                <label for="description">Description</label>
                <input type="text" id="package-description" name="description" value="$!self.getMeta('description')" />
            </p>
            <input type="hidden" name="targetStep" value="$self.getFormData('nextStep')" />
            <input type="hidden" name="oid" value="$oid" />
            <input class="button" id="update-package" type="button" value="Update" />
        </fieldset>
        </form>
    </div>
    <div id="item-props" class="box hidden">
        <h2>Item properties</h2>
        <div id="item-form">
            <fieldset>
            <p>
                <label for="item-title">Title</label>
                <input type="text" id="item-title" name="title" />
            </p>
            <p>
                <label class="checkbox" for="item-hidden">Hidden</label>
                <input class="checkbox" type="checkbox" id="item-hidden" name="hidden" />
            </p>
            <input class="button" id="update-item" type="button" value="Update" />
            <input class="button" id="delete-item" type="button" value="Remove" />
            <img class="hidden" id="item-loading" src="$portalPath/images/icons/loading.gif" />
            </fieldset>
        </div>
    </div>
</div>
<div class="grid_12">
    <div class="box">
        <h2>Display names</h2>
        ##renderObject($self.getMetadata() "preview")
        <br />
        <p>Names used by this person.</p>
        <div id="displayNames">
        #foreach($node in $self.getManifest())
            #set($nodeId = $node.get("id"))
            #set($nodeTitle = $node.get("title"))
            <p>
                <input type="checkbox" name="linked" value="$nodeId" id="linked-$nodeId" />
                <label for="linked-$nodeId">##$nodeTitle</label>
                    <a href="$portalPath/detail/$node.get('id')">$nodeTitle</a>
                </label>
            </p>
        #end
        <button id="unlink-names">Unlink selected</button>
        ##</ul>
        ##<form>
        ##    <fieldset class="login">
        ##        <legend>Find name</legend>
        ##        <input id="name-search-query" name="name-search-query" size="50" type="text" />
        ##        <button class="button" id="name-search">Go</button>
        ##    </fieldset>
        ##</form>
        ##<div class="name-search-result"></div>
        <div class="hidden" id="delete-package-item"></div>
        </div>
    </div>
    <div class="box">
        <h2>Suggested names</h2>
        <br />
        #set($suggestedNames = $self.getSuggestedNames())
        #if($suggestedNames.isEmpty())
            <p>No names were found that may match this person</p>
        #else
            <p>Below are some names that may match this person</p>
            <div id="suggestedNames">
                #foreach($doc in $suggestedNames)
                    #set($authorId = $doc.get("id"))
                    #set($authorName = $doc.getList("dc_title").get(0))
                    #set($itemTitle = $doc.getList("dc_description").get(0))
                    <p>
                        <input #if($self.isLinked($authorId))disabled="disabled" checked="checked" #{end}type="checkbox" name="suggestions" value="$authorId" id="author-$authorId"/>
                        <label for="author-$authorId" title="$!itemTitle">
                            $authorName<br />
                            $!itemTitle
                        </label>
                    </p>
                #end
                <button id="link-names">Link selected</button>
            </div>
        #end
    </div>
</div>
<script type="text/javascript">
$(function() {
    $("#update-package").click(function() {
        jQuery.post("$portalPath/actions/manifest.ajax",
            {
                func: "update-package-meta",
                oid: "$oid",
                metaList: ["title", "description"],
                title: $("#package-title").val(),
                description: $("#package-description").val()
            },
            function(data, status) {
                $("#package-form").submit();
            });
        return false;
    });
    
    $("#name-search").click(function() {
        
    });
    
    $("#link-names").click(function() {
        var authorIds = [];
        $("#suggestedNames :checked").each(function() {
            var authorId = $(this).attr("value");
            authorIds.push(authorId);
        });
        jQuery.post("$portalPath/workflows/nameAuthority.ajax",
            {   func: "link-names",
                oid: "$oid",
                authorIds: authorIds
            }, function(data) {
                console.log(data);
            }, "json");
    });
    
    $("#unlink-names").click(function() {
        var authorIds = [];
        $("#displayNames :checked").each(function() {
            var authorId = $(this).attr("value");
            authorIds.push(authorId);
        });
        jQuery.post("$portalPath/workflows/nameAuthority.ajax",
            {   func: "unlink-names",
                oid: "$oid",
                authorIds: authorIds
            }, function(data) {
                window.location.reload();
            }, "json");
    });
    
    if ($("#displayNames :checkbox").length == 0) {
        $("#unlink-names").hide();
    }
});
</script>
<script id="linked-name-template" type="text/html">
    <p>
        <input type="checkbox" name="linked" />
        <label for="linked-$nodeId"> ##
            <a href="$portalPath/detail/$node.get('id')">$nodeTitle</a>
        </label>
    </p>
</script>
<script id="suggested-name-template" type="text/html">
    <p>
        <input type="checkbox" name="linked" />
        <label for="linked-$nodeId"> ##
            <a href="$portalPath/detail/$node.get('id')">$nodeTitle</a>
        </label>
    </p>
</script>
