    <div class="object-comments">
        <div class="annotatable">Comment on this item:</div>
    </div>
</div>


#if ($self.sourceUrl)
<div>
    <button id="back" value="$self.sourceUrl">Back</button>
<div>
#end

<script>
    $("#back").click(function() {
        var url = $(this).val();
        $(location).attr('href',url);
    });
</script>