<div>Name authorities related to this author:</div>
<ul>
#foreach($record in $self.getAuthorities())
    <li><a href="$contextPath/master/detail/$record.get('id')/">$record.getList("dc_title").get(0)</a></li>
#end
</ul>
<div>MARC Records related to this author:</div>
<ul>
#foreach($record in $self.getRecords())
    <li><a href="$contextPath/marc/detail/$record.get('id')/">$record.getList("dc_title").get(0)</a></li>
#end
</ul>
