<div class="grid_4">
    #set($menuTitle = "Actions")
    #parseTemplate("wrapping/main-menu-open.vm")
    <ul class="menu">
        #set($firstOid = $self.firstOid)
        #if($firstOid)
            <li><a href="$portalPath/workflow/$self.firstOid">Start matching</a></li>
        #end
        <li><a href="$portalPath/search">Browse</a></li>
    </ul>
    #parseTemplate("wrapping/main-menu-close.vm")
</div>
